.screen {
  box-sizing: border-box;
  height: 100px;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 10px;
  background-color: #0000002d;
  border-radius: 10px;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
